<!DOCTYPE html>

<html>

<head>

<title>
RouteGuard BGP Monitor
</title>


<style>

body{

font-family:Arial;

margin:40px;

}


.box{

border:2px solid black;

padding:20px;

width:500px;

}


</style>


</head>


<body>


<h1>
RouteGuard
</h1>


<h2>
BGP Security Dashboard
</h2>



<div class="box">


<h3>
Prefix:
</h3>

<p>
{{result.prefix}}
</p>



<h3>
Status:
</h3>

<p>
{{result.status}}
</p>



{% if result.status=="HIJACKED" %}


<h3>
Expected Owner:
</h3>

<p>
AS{{result.expected_AS}}
</p>



<h3>
Attacker:
</h3>

<p>
AS{{result.received_AS}}
</p>


{% endif %}



</div>


</body>


</html>
